<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FreakySources.GUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <FreakySources.GUI.Properties.Settings>
            <setting name="InputCode" serializeAs="String">
                <value />
            </setting>
            <setting name="InputTab" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="OutputTab" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ExtraParams" serializeAs="String">
                <value>0/*$currentFrame$*/~0/*$currentFrame$*/~currentFrame~0|/*$output$*/~/*$output$*/~output.ToString()~|/*$frames*/~/*frames$*/~frames.ToString()~frames.ToString()|</value>
            </setting>
            <setting name="Kernel" serializeAs="String">
                <value>/*kernel*/</value>
            </setting>
            <setting name="QuineStr" serializeAs="String">
                <value>s</value>
            </setting>
            <setting name="WindowSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="WindowLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="WindowState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="Setting" serializeAs="String">
                <value />
            </setting>
        </FreakySources.GUI.Properties.Settings>
    </userSettings>
</configuration>